.website_blog {
    .o_wblog_post_title {
        #o_wblog_post_name {
            font-size: $osp-h2-font-size !important;
            font-weight: 600 !important;
        }
        #o_wblog_post_subtitle {
            font-size: $h4-font-size !important;
        }
    }

    .o_wblog_post_page_cover_footer {
        min-height: 36vh !important;
        padding: 60px 0;
    }
}
